-
	const name = "Кондаков Вадим";
	const position = "Фронтенд-разработчик и графический дизайнер";
	const text = "<p>С 2020 года я специализируюсь на фронтенд-разработке веб-приложений. Мой профессиональный стек включает в себя HTML, CSS, JavaScript, имею опыт разработки на  React.js, Vue и Angular. Я уверенно работаю с современными инструментами и технологиями разработки, такими как Npm, Git, Gulp, SCSS, PUG, также активно пользуюсь линтерами ESLint и Stylelint.</p><p>Более 15 лет профессионально занимаюсь графическим дизайном. Имею опыт проектирование, прототипирование, автоматизации и дизайна проектов разной сложности. На высоком уровне владею графическими редакторами Adobe (Photoshop, XD, Illustrator, InDesign, Acrobat-Pro), Figma.</p><p>Обладаю большим опытом удаленной работы, что позволяет мне эффективно справляться с поставленными задачами и быть гибким в организации своего времени.</p><p>Моя основная цель при разработке веб-приложения — создавать интуитивно понятные и привлекательные веб-интерфейсы для пользователей. Я активно изучаю новейшие тенденции и подходы в дизайне и разработке пользовательского интерфейса, чтобы создавать современные и инновационные продукты.</p><p>Я стремлюсь к продолжительным отношениям с работодателем и готов решать сложные задачи и преодолевать технические вызовы. Я уверен, что мои навыки и опыт позволят мне эффективно вносить вклад в вашу компанию и обеспечить успех проектов в области фронтенд-разработки.</p>";
	const shareList = ['facebook', 'vk', 'telegram'];

section.about-me#about-me
	.about-me__container.container
		.about-me__content.about-me-content
			h1.about-me-content__title(
				data-aos="fade-right" data-aos-duration="1000"
			)
				span #{name},
				span #{position}
			.about-me-content__text(
				data-aos="fade-right" data-aos-duration="1500"
			)!= text
		.about-me__contacts.about-me-contacts(
			data-aos="fade-left"
			data-aos-duration="1000"
		)
			address.about-me-contacts__list
				//- a.about-me-contacts__link(href="https://www.behance.net/vadimkarandashev" target="_blank")
				//- 	| www.behance.net
				a.about-me-contacts__link(href="mailto:vadims@list.ru")
					| vadims@list.ru
				a.about-me-contacts__link(href="https://t.me/KondakovVadim" target="_blank")
					| @telegram
				//- a.about-me-contacts__link(href="tel:+79835311521")
				//- 	| +7(983) 531-15-21
				a.about-me-contacts__link(href="https://github.com/Bawande" target="_blank")
					| www.github.com
				a.about-me-contacts__link(href="https://yandex.ru/maps/-/CDQMnMkk" target="_blank")
					| г. Улан-Удэ
			//- .about-me-contacts__share-list
			//- 	each value in shareList
			//- 		button.about-me-contacts__share-button.btn(data-social= value)
			//- 			+svg(`${value}`)
		.about-me__background-item
			+backgroundPattern
